<div id="secondary" class="widget-area col-sm-12 col-md-4">
<div style="height: 140px"></div>
  <aside id="blog_subscription-2" class="widget jetpack_subscription_widget">
    <h3 class="widget-title">Subscribe to Blog via Email</h3>
    <form action="#" method="post" accept-charset="utf-8"
      id="subscribe-blog-blog_subscription-2">
      <div id="subscribe-text">
        <p>Enter your email address to subscribe to this blog and receive notifications
          of new posts by email.</p>
      </div>
      <p>Join 5 other subscribers</p>
      <p id="subscribe-email">
        <label id="jetpack-subscribe-label" style="position: absolute; height: 1px; width: 1px; overflow: hidden;">
          Email Address </label>
        <input name="email" required="required" class="required" value="" id="subscribe-field-blog_subscription-2"
        placeholder="Email Address" type="email">
      </p>
      <p id="subscribe-submit">
        <input value="Subscribe" name="jetpack_subscriptions_widget" type="submit">
      </p>
    </form>
  </aside>
</div>
