 <aside id="activello_recent_posts-2" class="widget activello-recent-posts">
    <h3 class="widget-title">Recent Posts</h3>
      <div class="recent-posts-wrapper">
        <div class="post">
          <div class="post-image gallery">
            <a href="">
              <img src="https://cdn.colorlib.com/activello/wp-content/uploads/sites/10/2015/11/photo-1429734160945-4f85244d6a5a-150x150.jpg"
              class="attachment-thumbnail size-thumbnail wp-post-image" alt=""
              width="150" height="150">
            </a>
          </div>
          <div class="post-content">
            <a href="">Post Format: Gallery</a>
            <span class="date">- 12 Nov , 2015</span>
          </div>
        </div>
      </div>
  </aside>

