<section id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h1><%= t "member" %></h1>
          <span class="st-border"></span>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="ui link cards">
    <%= render @users %>
  </div>
  <%= paginate @users %>
</div>
