<section id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h1><%= t "member" %></h1>
          <span class="st-border"></span>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="ui link cards" id= "users">
    <%= render @users %>
  </div>
  <center>
  <%= link_to_next_page @users, (t "load_more"), remote: true, id: "load_more",
    class: "btn btn-primary" %>
  </center>
</div>
