<% @participates.each do |participate| %>
  <div class="col-md-3 margin-top-20">
    <div class="left">
      <%= link_to "#" do %>
        <%= image_tag participate.user.images.first.image.url ,
          class: "img-member-of-project" %>
      <% end %>
    </div>
    <div class="left item-member-project">
      <%= link_to "#{participate.user.name}", "#",
                title: "#{participate.user.name}" %><br/>
      <span><%= participate.description %></span>
    </div>
  </div>
<% end %>
