<div class="col-md-4 col-sm-6 portfolio-item">
  <%= link_to project_path(I18n.locale, project), class: "portfolio-link" do %>
    <div class="portfolio-hover">
      <div class="portfolio-hover-content">
        <i class="fa fa-plus fa-3x"></i>
      </div>
    </div>
    <%= image_tag project.images.first.image.url, class: "img-responsive resize-project"%>
  <% end %>
  <div class="portfolio-caption">
    <h4 class="font-weight-700"><%= project.name %></h4>
    <p class="text-muted">
      <%= project.description.truncate(Settings.description) %>
    </p>
  </div>
</div>
