.fourths.three {
  width: 70%;
}

.wh-padding.wh-content-inner {
  padding-right: 35px;
}

.wh-padding {
  padding: 15px 15px 15px 15px;
}

.left {
  float: left;
}

.desc-portfolio {
  font-family: Raleway;
  text-align: left !important;
}

.title-portfolio {
  font-style: bold;
}

.margin-right-100 {
  margin-right: 40px;
}

.button-member-join-project {
  background-color: #2abfd4;
  font-size: 15px;
  padding: 16px 27px 14px 27px;
  text-transform: uppercase;
  color: #fff;
  line-height: 15px;
  font-weight: bold;
  border: 1px solid #2abfd4;
  width: 217px;
  font-family: inherit;
}

.feature-project {
  padding-top: 100px;
  font-family: Raleway;
  text-align: left !important;
  color: cadetblue;
}

.text-left {
  text-align: left !important;
}

.capitalize {
  text-transform: capitalize;
}

.imglstprofile {
  width: 40px;
  height: 40px;
}

